In [ ]:
pesan = "Selamat datang ke Sesi 2!"

print(pesan)

Selamat datang ke Sesi 2!

# Review Sesi 1
- tipe data primitif
- variable
- tipe data terstruktur

## tipe data primitif
ada 4 jenis tipe data di Python:
1. int
2. float
3. string
4. boolean

int adalah angka bulat tanpa desimal

float adalah angka yang punya desimal poin, bahkan 0.0 sekalipun

string adalah text, asalkan dikutip dia akan jadi tipe data text. bisa menyimpan angka, alfabet, simbol, termasuk spasi.

boolean adalah True atau False. dua pilihan data yang khusus disimpan ke tipe data boolean.

## variable
kita simpan data, atau, kita kasih nama supaya data itu punya nama, bisa kita panggil lagi. variable assignment. memberi nama ke sebuah data. membuat sebuah variable, tempat simpan data.

ada peraturan untuk membuat nama variable di Python:
1. harus dimulai dengan alfabet
2. huruf kecil semua
3. spasi diganti menjadi _
4. tidak menggunakan keyword Python sebagai nama variable. misalnya print, type, int, float, string, boolean, dan banyak lagi.

## tipe data terstruktur
karena variable cuma bisa simpan 1 data, kalau data kita banyak, misalnya kita mau simpan data 100 pelanggan. 100 pelanggan masing masing punya nama, alamat, total pembelian, tanggal pembelian terakhir...

tidak realistis untuk membuat ratusan variable berbeda untuk simpan data tersebut.

jadi, kita punya tipe data yang lebih complex. sebuah data yang bisa menyimpan banyak data, lebih dari satu. jadi 1 variable bisa simpan banyak data.

- list
- dictionary

### list
- dibuat dengan `[]`
- setiap data dipisah dengan `,`
- setiap data memiliki angka urut index dimulai dari 0

kita bisa simpan banyak data berbeda di satu `[]` dalam format `[data1, data2, data3, ...]`

setiap data yang disimpan bisa bertipe int float str bool list dict, dan lainnya.

untuk mengakses data yang ada di dalam list, kita gunakan angka integer index mulai dari 0 untuk data1.

### dictionary
- dibuat dengan `{}`
- setiap data dipisah dengan `,`
- setiap data adalah sepasang key: value
- key memiliki tipe data string
- value memiliki tipe data bebas, string int float bool list dict, dan lainnya

kita bisa simpan banyak data berbeda di satu `{}` dalam format `{ "key1": data1, "key2": data2, ...}`

setiap data yang disimpan harus sepasang sepasang. harus punya key, yang string. harus punya value, tipe data bebas.

untuk mengakses data yang ada di dalam dictionary, kita gunakan string key nya. masing masing data punya key yang berbeda.

In [ ]:
# ini komentar

123

2.0

"asd"

True

[]

{}

pesan

print()

perhatikan warna warna berbeda saat mengetik code Python. hijau tua itu komentar, bukan code. lalu warna lain itu code. ada data tipe numerik, string text, boolean, variable, dan lainnya.

# Sesi 2
# Conditional dan Loop

## Conditional
if, else

kalau ... maka ...

kalau kejadiannya begini, maka aku akan melakukan sesuatu A

kalau kejadiannya begitu, maka aku akan melakukan sesuatu B

kalau kejadiannya begini, maka aku tidak melakukan A

pada dasarnya conditional adalah teknik memberi kondisi pada program Python kita. dengan menggunakan keyword if dan else, kita bisa membuat program jalan hanya saat kondisi tertentu terpenuhi.

In [ ]:
# misalkan kita punya seorang murid bernama Andi
# umur Andi di 16 tahun

umur_andi = 16

# kalau umur Andi sudah 17 tahun keatas, dia boleh ikut kelas ini yang khusus orang dewasa
# kalau tidak, maka Andi harus ikut kelas anak kecil untuk umur 16 kebawah.

if umur_andi >= 17:
  print("Andi boleh ikut kelas dewasa")

karena `umur_andi >= 17` adalah False, tidak benar, kondisi tidak terpenuhi

jadi keyword `if` memastikan blok kode yang ada di dalam if tersebut tidak jalan.

didalam `if` kita diatas, ada blok kode `print("Andi boleh ikut kelas dewasa")`

blok kode milik `if` kita diatas bisa dilihat dari jumlah spasi yang ada di kiri `print...`

perhatikan ada 2 spas1 (1 indentasi) sebelum kita mulai blok kode print

In [ ]:
print("ini sebelum if")

if umur_andi >= 17:
  print("Andi boleh ikut kelas dewasa")
  print("ini di dalam if")


print("ini sesudah dan diluar blok kode if")

ini sebelum if
ini sesudah dan diluar blok kode if

In [ ]:
if umur_andi >= 17:
  print("Andi boleh ikut kelas dewasa")
print("a")

a

demikian cara membedakan code mana yang milik `if` dan yang bukan milik `if`

jika adalah milik `if` maka code tersebut akan ada di indentasi lebih dalam, dan posisi di bawah `if` tersebut.

In [ ]:
if umur_andi >= 17:
  print("Andi boleh ikut kelas dewasa")

if umur_andi < 17:
  print("Andi boleh ikut kelas anak anak")

Andi boleh ikut kelas anak anak

if kedua hasil print nya keluar, karena code nya berhasil jalan, karena kondisinya `umur_andi < 17` adalah True

### latihan pendek
- buatlah sebuah variable berisi sebuah angka
- buatlah statement if dengan kondisi variable tersebut lebih besar dari 100
- jika kondisi benar, buatlah code di dalam if tersebut menjalankan `print("besar")`

In [ ]:
# jawaban latihan pendek
n = 300

if n > 100:
  print("besar")

besar

In [ ]:
murid_andi = {
    "nama": "Andhika",
    "umur": 16,
    "hobi": ["makan", "belajar hal baru", "sepak bola"]
}

if murid_andi["umur"] < 17:
  print(murid_andi['nama'], "boleh ikut kelas anak anak")

if murid_andi["nama"] == "Andhika":
  print("kebetulan sekali nama gurunya juga Andhika!")

Andhika boleh ikut kelas anak anak
kebetulan sekali nama gurunya juga Andhika!

In [ ]:
murid_andi["umur"]

16

kita sudah kurang lebih mengerti konsep if, dengan kondisinya, dan bagaimana dia memisahkan code yang jalan dan code yang tidak. code milik `if` jalan kalau kondisinya True.

`if` punya teman keyword `else`. kalau kondisinya False maka code milik `else` akan jalan.

berdua if dan else bisa memastikan ada code berbeda yang jalan kalau kondisinya True atau False. True masuk ke kode milik if. False masuk ke kode milik else.

In [ ]:
# misalnya kedua if untuk kelas Andi tadi kita bisa gabungkan jadi satu
# kalau umur < 17 maka masuk kelas anak anak
# kalau tidak, maka masuk kelas dewasa
umur_andi = 63

if umur_andi < 17:
  print("masuk kelas anak anak")
else:
  print("masuk kelas dewasa")

masuk kelas dewasa

selain `if` dan `else`, mereka punya satu teman lagi `elif`

`elif` adalah gabungan else if. bayangkan ini seperti anak anak yang sedang bertanya "sudah sampai belum?" kalau belum "sekarang sudah belum?" berulang kali ada lebih dari 1 pertanyaan.

bisa juga kita bayangkan ada banyak kelas dengan rentang umur berbeda. ada tk sd smp sma kuliah kelas_sertifikasi. masing masing memiliki requirement rentang umur yang berbeda. kita pakai contoh 3 jenis kelas dulu:
- sd smp sma --- umur 6 sampai 18
- kuliah --- 17 sampai 30
- kelas sertifikasi --- 17 keatas

untuk membuat lebih simpel, kita bilang saja masing masing kelas pembagian umurnya seperti ini:
- anak anak - dibawah 17 tahun
- kuliah - 17 sampai 24 tahun
- kelas sertifikasi 25 tahun keatas

In [ ]:
umur_andi = 20

if umur_andi < 17:
  print("masuk kelas anak anak")
elif umur_andi <= 24:
  print("masuk kelas kuliah")
else:
  print("masuk kelas sertifikasi")

masuk kelas kuliah

misalnya kita punya sebuah nilai integer

kita mau ubah jadi grade A B C D E
- A. 90-100
- B. 80-89
- C. 70-79
- D. 60-69
- E. dibawah 60

In [ ]:
nilai = 75
print("nilai", nilai)

if nilai >= 90:
  print("A")
elif nilai >= 80:
  print("B")
elif nilai >= 70:
  print("C")
elif nilai >= 60:
  print("D")
else:
  print("E")

nilai 75
C

terakhir untuk konteks `if` `elif` `else` kita pastinya memerlukan "kondisi"

kondisi ini umumnya adalah komparasi.
- nilai apakah lebih dari 90 `>`
- umur apakah lebih dari 17 `>`
- nama apakah sama dengan "Andhika" `==`

satu variable berisi satu data, kita komparasi dengan satu data.

tapi dia bisa lebih kompleks. dia bisa menanyakan banyak pertanyaan sekaligus. banyak pertanyaan tersebut bisa `harus benar semua` atau `benar salah satu saja`

- "apakah hari ini hujan dan dingin?" kita harus cek kondisi pertama hujan True dan kondisi kedua dingin True juga. dua duanya harus True, baru jawaban menjadi True
- "apakah besok cerah atau berawan?" kita harus cek kondisi pertama cerah atau tidak. kita harus cek kondisi kedua berawan atau tidak. salah satu kondisi itu benar, kita jawab pertanyaannya dengan True.

In [ ]:
# dan
# umur andi dan umur budi diatas 17
umur_andi = 18
umur_budi = 19

if umur_andi > 17 and umur_budi > 17:
  print("umur andi dan budi diatas 17 tahun")
  print("umur andi:", umur_andi)
  print("umur budi:", umur_budi)

umur andi dan budi diatas 17 tahun
umur andi: 18
umur budi: 19

In [ ]:
# cara tulis kondisi bisa sedikit berbeda, bisa kita kurung supaya rapi

if (umur_andi > 17) and (umur_budi > 17):
  print("umur andi dan budi diatas 17 tahun")
  print("umur andi:", umur_andi)
  print("umur budi:", umur_budi)

umur andi dan budi diatas 17 tahun
umur andi: 18
umur budi: 19

In [ ]:
# or
# salah satu dari andi dan budi harus diatas 17 tahun
umur_andi = 18
umur_budi = 9

if (umur_andi > 17) or (umur_budi > 17):
  print("umur andi atau budi ada yang diatas 17 tahun")
  print("umur andi:", umur_andi)
  print("umur budi:", umur_budi)

umur andi atau budi ada yang diatas 17 tahun
umur andi: 18
umur budi: 9

nested if

dalam if bisa ada if lagi

In [ ]:
# misalnya kalau andi 17 tahun keatas
# berarti dia punya KTP dong? apakah dia punya KTP?
# kalau punya, boleh beli tiket pesawat

umur_andi = 18
andi_punya_ktp = True

if umur_andi >= 17:
  print("Andi sudah umur 17 keatas")

  if andi_punya_ktp:
    print("Andi juga sudah punya KTP")
    print("boleh beli tiket pesawat")

Andi sudah umur 17 keatas
Andi juga sudah punya KTP
boleh beli tiket pesawat

## Loop
kalau if menanyakan 1 pertanyaan. yang bisa dilanjutkan dengan elif pertanyaan berikut. else sebagai pertanyaan terakhir kalau semua if dan elif jawabannya False. maka Loop adalah pertanyaan berulang terus terusan tanpa akhir.

Loop adalah teknik dimana kita melakukan hal yang sama berulang kali.

ada Loop jenis `while` yang bertanya berulang kali. seperti `if` yang tidak ada akhirnya.

ada Loop jenis `for` yang bertanya x kali. khusus untuk mengulang sebanyak barang yang ada di sebuah koleksi. misalnya ada list isi 5 string, maka kita bisa for loop 5 kali, sekali untuk setiap string yang ada di dalam list tersebut.

### while
```python
while `kondisi`:
  # blok kode milik while
  print("misalnya print ini, akan terus berjalan selama `kondisi` True")
```

contoh diatas, print nya akan berjalan terus terusan, selamanya, sampai pc kita error. jadi apa gunanya loop `while` ini?
- kita harus melakukan sesuatu di dalam blok kode `while` yang mengubah kondisi menjadi False
- cara tulis kondisi sama seperti kondisi `if`
- tapi pastikan di dalam blok kode `while` ada kode yang mengubah kondisi tersebut hingga bisa berubah jadi False

In [ ]:
# contohnya, kita makan sesuap sesuap sampai kenyak

jumlah_suap = 0

# if jalannya hanya 1 kali, jadi kita tidak bisa menambah jumlah suap satu per satu sampai kenyang,
if jumlah_suap < 20:
  print("lapar, makan satu suap lagi")
else:
  print("kenyang")

lapar, makan satu suap lagi

In [ ]:
jumlah_suap = 0

# kita gunakan loop while untuk itu
while jumlah_suap < 20:
  print("lapar, makan lima suap lagi")
  print("jumlah suap:", jumlah_suap)
  jumlah_suap = jumlah_suap + 5
else:
  print("sudah kenyang")
  print("jumlah suap:", jumlah_suap)

lapar, makan lima suap lagi
jumlah suap: 0
lapar, makan lima suap lagi
jumlah suap: 5
lapar, makan lima suap lagi
jumlah suap: 10
lapar, makan lima suap lagi
jumlah suap: 15
sudah kenyang
jumlah suap: 20

In [ ]:
jumlah_suap = 0

# tidak harus pakai else juga bisa
# kita gunakan loop while untuk itu
while jumlah_suap < 20:
  print("lapar, makan lima suap lagi")
  print("jumlah suap:", jumlah_suap)
  jumlah_suap = jumlah_suap + 5

print("sudah kenyang")
print("jumlah suap:", jumlah_suap)

lapar, makan lima suap lagi
jumlah suap: 0
lapar, makan lima suap lagi
jumlah suap: 5
lapar, makan lima suap lagi
jumlah suap: 10
lapar, makan lima suap lagi
jumlah suap: 15
sudah kenyang
jumlah suap: 20

### latihan pendek
diberikan sebuah angka random 70

buatlah loop yang mencetak angka dari 70 hingga 80

70
71
72
.
.
80

gunakan while loop

In [ ]:
n = 70

while n <= 80:
  print(n)
  n = n + 1

70
71
72
73
74
75
76
77
78
79
80

contoh diatas sebenarnya bisa kita bilang seperti mencetak koleksi angka. angka dari 70 hingga 80.

untuk melakukan hal yang sama ke satu per satu barang di sebuah koleksi, kita lebih cocok menggunakan `for`

```python
for <barang> in <koleksi>:
  # lakukan sesuatu ke barang
  # lakukan hal lain
```

koleksi angka bisa kita buat menggunakan `range()`

In [ ]:
range(10)

range(0, 10)

In [ ]:
for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# selain koleksi angka, list juga termasuk koleksi
buah_buahan = ["apel", "pisang", "jeruk", "nangka", "duku"]

for buah in buah_buahan:
  print(buah)

apel
pisang
jeruk
nangka
duku

In [ ]:
# selain list, string juga merupakan koleksi karakter

for huruf in "Hacktiv8":
  print(huruf)

H
a
c
k
t
i
v
8

bahasa pemrograman sangat kaku, kita tidak bisa meminta program untuk melakukan hal yang kompleks. misalnya "carikan air"

program tidak mengerti "air"

yang bisa dilakukan program, terlimitasi ke tipe data yang bisa dia mengerti: int float str bool

kita bisa minta "carikan angka yang kalau dibagi 10 hasilnya adalah 3"
- tapi cara carinya gimana? kita pakai loop, kita pecahkan masalah nya menjadi hal kecil yang bisa ditemukan kalau kita ulang ber kali kali

In [ ]:
for n in range(100):
  if (n / 10 == 3):
    print("ketemu, angka ini dibagi 10 hasilnya 3:", n)

ketemu, angka ini dibagi 10 hasilnya 3: 30

# Recap

di sesi 1 kita mempelajari:
- struktur data primitif
- variable
- struktur data list, dictionary

di sesi 2 kita mempelajari:
- teknik kondisional `if` `elif` `else`
- teknik loop `while` dan `for`

dengan semua teknik ini, kita bisa membuat program kecil.

Misalnya dari kumpulan data murid, kita bisa cari yang rata-rata nilainya diatas 70.

1. kita siapkan dulu kumpulan data muridnya. misalnya adalah sebuah list berisi nama dan nilai rata-rata murid
2. kita gunakan loop `for` untuk mengulang, satu per satu, setiap murid, kita jalankan kode pengecekan nilai
3. saat melakukan kode pengecekan nilai, kita cek apakah nilainya diatas 70
4. kalau iya, kita simpan murid ini ke sebuah list berbeda, yang nilainya diatas 70 saja
5. kita tampilkan list berbeda tadi yang khusus murid nilai diatas 70

In [ ]:
# misalnya murid itu dictionary dengan "nama" dan "nilai"
# "nama" adalah string
# "nilai" adalah integer

murid = {"nama": "Andhika Rahardjo", "nilai": 85}

In [ ]:
# misalnya ada 5 murid
# kita simpan dalam sebuah list
murid_murid = [
    {"nama": "Andhika Rahardjo", "nilai": 85},
    {"nama": "Budi Budiman", "nilai": 75},
    {"nama": "Cindy Cantika", "nilai": 60},
    {"nama": "Denisa Trisnadi", "nilai": 80},
    {"nama": "Erika Cahyadi", "nilai": 69}
]

In [ ]:
# pakai for loop untuk mengambil murid satu per satu dari list murid_murid
for murid in murid_murid:
  print(murid)

{'nama': 'Andhika Rahardjo', 'nilai': 85}
{'nama': 'Budi Budiman', 'nilai': 75}
{'nama': 'Cindy Cantika', 'nilai': 60}
{'nama': 'Denisa Trisnadi', 'nilai': 80}
{'nama': 'Erika Cahyadi', 'nilai': 69}

In [ ]:
# siapkan list untuk murid nilai diatas 70

diatas70 = []

for murid in murid_murid:
  if murid["nilai"] > 70:
    diatas70 = diatas70 + [murid]
    # diatas70 += [murid]
    # diatas70.append(murid)

print(diatas70)

[{'nama': 'Andhika Rahardjo', 'nilai': 85}, {'nama': 'Budi Budiman', 'nilai': 75}, {'nama': 'Denisa Trisnadi', 'nilai': 80}]

### latihan pendek
lanjutkan program kecil diatas, kali ini dengan data murid yang nilainya lebih dari satu. ada 4 nilai: ass1, ass2, ass3, finalproject. data murid sudah dibuatkan berikut

In [ ]:
murid_murid = [
    {"nama": "Andhika Rahardjo", "nilai": [85, 65, 90, 70]},
    {"nama": "Budi Budiman", "nilai": [75, 70, 65, 60]},
    {"nama": "Cindy Cantika", "nilai": [60, 70, 80, 90]},
    {"nama": "Denisa Trisnadi", "nilai": [80, 85, 90, 60]},
    {"nama": "Erika Cahyadi", "nilai": [69, 88, 77, 60]}
]

diatas70 = []

# untuk setiap murid
for murid in murid_murid:
  # kita ambil nilai nilai muridnya
  nilai_nilai = murid["nilai"]

  # kita hitung rata rata nilai nilai tersebut
  total_nilai = 0
  for nilai in nilai_nilai:
    total_nilai = total_nilai + nilai

  rata_nilai = total_nilai / len(nilai_nilai)
  murid["rata_nilai"] = rata_nilai

  # setelah mengetahui rata rata nilai murid ini, kita cek apakah sama dengan atau lebih dari 70
  if rata_nilai >= 70:
    # kalau iya, kita tambahkan murid ini ke list diatas70
    diatas70 = diatas70 + [murid]

# selesai, kita tampilkan murid mana saja yang rata-rata nilainya diatas 70
print(diatas70)

[{'nama': 'Andhika Rahardjo', 'nilai': [85, 65, 90, 70], 'rata_nilai': 77.5}, {'nama': 'Cindy Cantika', 'nilai': [60, 70, 80, 90], 'rata_nilai': 75.0}, {'nama': 'Denisa Trisnadi', 'nilai': [80, 85, 90, 60], 'rata_nilai': 78.75}, {'nama': 'Erika Cahyadi', 'nilai': [69, 88, 77, 60], 'rata_nilai': 73.5}]

In [ ]:
nilai_nilai = [50,60,70,80]

len(nilai_nilai)

4

In [ ]:
(50+60+70+80) / 4

65.0

In [ ]:
list_campur = [True, 1235, 43.7, "halo", {}, []]

len(list_campur)

6

len khusus untuk list dan string, isi list nya bebas

In [ ]:
# kita bisa pakai loop juga untuk print muridnya satu per satu dengan lebih rapi
print("murid yang nilai rata ratanya diatas 70")

for m in diatas70:
  print(m["nama"], ":", m["rata_nilai"])

murid yang nilai rata ratanya diatas 70
Andhika Rahardjo : 77.5
Cindy Cantika : 75.0
Denisa Trisnadi : 78.75
Erika Cahyadi : 73.5

In [ ]:
for m in murid_murid:
  print(m["nama"], ":", m["rata_nilai"])

Andhika Rahardjo : 77.5
Budi Budiman : 67.5
Cindy Cantika : 75.0
Denisa Trisnadi : 78.75
Erika Cahyadi : 73.5