In [57]:
#PR 1
print("Achmad Kathariza Syah / Tacha")
print("jumlah jam untuk belajar DS /hari* : 1jam (senin - jumat)")
print("*diluar jam course")

Achmad Kathariza Syah / Tacha
jumlah jam untuk belajar DS /hari* : 1jam (senin - jumat)
*diluar jam course

In [2]:
print(123)

123

In [4]:
type(750) #type data apa ?

int

## Type Data Python
    1. Integer (angka bulat)
    2. floating (angka desimal poin)
    3. String (angka, huruf dikutip (""))

    keyword Python
    - print (cetak data ke display)
    - type (cetak tipe data)

In [5]:
"Python"

'Python'

In [6]:
type("Python")

str

In [7]:
print(type("Python"))

<class 'str'>

## Primitive Data Type / Dasar Type Data

    1. semua yg dikutip menjadi type String 'str'

    2. semua yg tdk punya decimal point menjadi Integer 'int'

    3. semua yg punya desimal poin adalah float 'float'

    4. True & False adalah Boolean 'bool'

In [9]:
False

False

In [8]:
type(True)

bool

## Variable 

    kasih nama ke data 

    nilai_andi = 70

    aturan :
    - dimulai dengan alfabet
    - tidak ada spasi, ganti menjadi "_" => snake_case
    - semua huruf kecil

    snake_case untuk Variable

    camelCase untuk Function

    !!tidak boleh pakai keyword Python sbg nama Variable. Python tdk error. Akan kehilangan fungsi keyword.

    huruf besar kecil pada variabel di anggap berbeda

## Operations & Expression in Python

    Functions

    set kode yg punya tujuan tertentu, terima data - proses - memberi output

    build in functions : function bawaan dari Python

    misalnya jadi kalkulator. aritmatik.

In [11]:
2 + 5.8 #type nya beda tetap bisa jumlah

7.8

In [12]:
nilai_andi_a1 = 65
nilai_andi_a2 = 75
nilai_andi_a3 = 80
nilai_andi_final = 95

total_nilai = nilai_andi_a1+nilai_andi_a2+nilai_andi_a3+nilai_andi_final

rata2_nilai_andi = total_nilai / 4

print("Rata-rata nilai Andi adalah", rata2_nilai_andi)

Rata-rata nilai Andi adalah 78.75

    selain aritmatika, ada pembanding / comparator

    '>' lebih besar

    '<' lebih kecil

    '>=' lebih besar sama dengan

    '<=' lebih kecil sama dengan

    '==' sama

    '!=' berbeda

    hasil comparator , bool

In [14]:
#komparasi data non numerik, str bisa. kegunaan untuk sortir data.

print("a" > "A")

True

## penjelasan Boolean

    int --> float
    float --> integer
    int, float --> string

    semua data --> boolean

    semua data yg kosong di anggap False, semua yg ada isinya True 

    Truhty & Falsy

    false :
    - 0 int
    - 0.0 float
    - "" String
    - false boolean

    True :
    - 10

In [15]:
a = 100
print(type(a))

<class 'int'>

In [16]:
b = float(a)
print(type(b))

<class 'float'>

In [17]:
a=99.8
print(a, type(a))

b = int(a)
print(b, type(b))

99.8 <class 'float'>
99 <class 'int'>

In [18]:
#semua data bisa jadi str

c = str(a)
print(c, type(c))

c = str(b)
print(c, type(c))

99.8 <class 'str'>
99 <class 'str'>

In [19]:
#hanya string yg valid, beneran numerik, bisa jadi int & float

c = "-30"
print(c, type(c))

a = int(c)
print(a,type(a))

b = float(c)
print(b, type(b))

-30 <class 'str'>
-30 <class 'int'>
-30.0 <class 'float'>

In [23]:
#semua type data bisa berubah menjadi boolean

print(bool(0), bool(b), bool(c)) # False

d = ""
print(d, type(d), bool(d))

False True True
 <class 'str'> False

## String Manipulation
    - di tambah + untuk menempelkan string jadi 1
    - ubah Case, gedhe kecil
    - check panjang karakter
    - check apakah ada text dalam text ?

In [25]:
pesan = "Hallo"

pesan+",selamat Malam"

'Hallo,selamat Malam'

In [26]:
print(pesan)

Hallo

In [39]:
pesan = pesan + ",selamat Malam"
print(pesan)

Hallo,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam

In [42]:
print(pesan)
print(pesan.upper())
print(pesan.lower())
print(pesan.title())

Hallo,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam,selamat Malam
HALLO,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM,SELAMAT MALAM
hallo,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam,selamat malam
Hallo,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam,Selamat Malam

In [44]:
print(len(pesan))

187

In [45]:
"Halo" in pesan

False

# Structured Data

## 1. list [] :

    boleh beda type data

    setiap type data di pisah ','
    
    cara ambil pakai index, mulai dari 0, -1 data terakhir

    index -2 , data no. 2 dari blkng, dst
## 2. dictionary {} :

    simpan data acak

    dipisah dg ','

    setiap data simpan sepasang, key & value

    key = str pengganti index, untuk mengakses data tertentu

    tidak otomatis urut, langsung di paling belakang

## 3. tuple :
    tuple tidak bisa di update
    

## 4. Set :
    data unik, tidak ada data kembar
    tidak bisa di akses dg index
    tidak bisa di akses dg key

In [46]:
#lists
nilai_andi = [80, 85, 90, 100]
print(nilai_andi, type(nilai_andi), len(nilai_andi))

[80, 85, 90, 100] <class 'list'> 4

In [47]:
print(nilai_andi[0])

80

In [49]:
#dictionary
nilai_andi = {
    "assignment1": 70,
    "assignment2": 80,
    "assignment3": 90,
    "finalProject" : 100
}

print(nilai_andi, type(nilai_andi))

{'assignment1': 70, 'assignment2': 80, 'assignment3': 90, 'finalProject': 100} <class 'dict'>

In [50]:
#panggil nilai tertentu
nilai_andi['assignment1']

70

In [52]:
#append data andi
nilai_andi["assignment0"] = 10
print(nilai_andi)

{'assignment1': 70, 'assignment2': 80, 'assignment3': 90, 'finalProject': 100, 'assignment0': 10}

In [53]:
#delete
nilai_andi = {}

In [54]:
print(nilai_andi)

{}